@font-face {
  font-family: 'Inter';
  src: url(/src/components/Inter.ttf)
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  margin: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.925);
}

nav {
  display: flex;
  align-items: center;
  color: rgb(0, 247, 255);
}

nav > img {
  width: 40px;
}
